:root {
  --deep-blue : #0065FC;
  --light-blue: #DEEBFF;
  --sec-bg-color: #D9D9D9;
  --main-bg-color: #F2F2F2;
}

/* solution trouvées pour changer la valeur du champ de recherche qui etait grise */
::-webkit-input-placeholder /* WebKit, Blink, Edge */
{ 
  color: black;
}

:-moz-placeholder /* Mozilla Firefox 4 à 18 */
{
  color: black;
  opacity: 1;
}

::-moz-placeholder /* Mozilla Firefox à partir de la version 19 */
{
  color: black;
  opacity: 1;
}

:-ms-input-placeholder /* Internet Explorer 10-11 */
{
  color: black;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2%;
  font-family: 'Raleway', sans-serif;
}

nav {
  display: flex;
}


/* solution choisie alternative au grid */


header{
  width: 100%;
  height: 115px;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover{
  color: var(--deep-blue)
}

.header-one img{ 
  width: 61px;
  height: 19px;
}

.header-two, .header-three{
  height: 115px;
}

.header-one, .header-two, .header-three {
  line-height: 115px;
}

.header-two:hover, .header-three:hover {
  color: var(--deep-blue);
  border-top: solid 2px var(--deep-blue);
  cursor: pointer;
}


/*recherche */


.recherche p{
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  height: 50px;
}

form input {
  border: none;
}

.imagefa{
  height: 100%;
  background: var(--main-bg-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.fa-location-dot{
  padding-top: 25px;
}

.search-input {
  border-top: solid 1px var(--main-bg-color);
  border-bottom: solid 1px var(--main-bg-color);
  padding-left : 15px
}

.search-input, .submit-button {
  font-weight: bold;
  font-size: 18px;
}

.submit-button{
  padding: 0 16px 0 16px;
  border:none;
}

.submit-button:hover{
  cursor: pointer;
}

.submit-button {
  height: 100%;
  background-color:var(--deep-blue);
  padding-left: 10px;
  margin-left:0;
  color:white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.search-input {
  margin-right:-4px;
}

/* Section filtre */

.section-filters {
  display:flex;
  align-items: center;
}
.section-filters, .filters {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

.filters {
  height: 40px;
  border: solid 2px var(--sec-bg-color);
  background: none;
  border-radius: 25px;
  padding: 0 15px 0 15px;
  margin-left: 25px;
  text-transform: capitalize;
}

.filters:hover {
  background: var(--light-blue);
  cursor: pointer;
}

.submit-button-small{
  display: none;
}

.fa-solid{
  padding-right: 10px;
  color:var(--deep-blue);
}

.fa-location-dot{
  margin-left: 18px;
  padding-right:15px;
  color:black;  
}

.fa-magnifying-glass{
  padding-left: 10px;
  height: 100%;
  color: white;
}

.section-filters{
  padding-left: 7px;
  
}

.div-filters{
  display: flex;
}

.container-info-image{
  color: var(--deep-blue);
  font-size: 18px;
}

.info p{
  font-weight: 500;
  margin-left: 10px;
}


.info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content:baseline;
  margin-left: 16px;
}

/* Section resultats */


.search-result{
  display: flex;
  flex-wrap: wrap; 
  align-content: space-between; 
  justify-content: space-between;
}

/* pour les liens à définir sur les cartes et le footer, classe "tbc" , "afficher la suite" dans results class "a-once"*/
.tbc, .a-once {
  text-decoration: none;
  color: black;
}


.a-once {
  margin-left: 25px;
  line-height: 45px;
  font-size: 18px;
  font-weight: 700;
}


.container-results {
  width: 64%;
  height: auto;

}

.container-results, .popular-results {
  border-radius: 20px;
  background-color: var(--main-bg-color);
}

.container-results h2{
  padding-left: 40px;
}

.container-results h2, .popular-results h2{
  font-size: 20px;
  letter-spacing: 0.08em;
  margin-top: 25px;
  margin-bottom: 0px;
}

.results {
  
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

.results a{
  margin-top: 20px;
}

.result-card {
  width: 100%;
  height: 199px;
}
.results a {
  width: 30%;
}

.popular-card {
  display: flex;
  max-width: 343px;
  height: 144px;
}

.result-card, .popular-card{
  border-radius: 20px;
  background: white;  
  margin: 2%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2); 
}

.result-card img {
  width: 96%;
  height: 116px;
}

.popular-card img {
  width: 40%;
  height: 136px;
}
.popular-card-results{
  padding: 15px;
}
.result-card img, .popular-card img {
  padding:4px; 
  object-fit: cover;
}

.result-card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.popular-card img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.result-card h3, .result-card p { 
  margin: 2px 0 8px 16px;
}

.result-card h3, .result-card p{
  line-height: 16px;
}

.popular-text h3, .popular-text p{
  line-height: 18px;
  margin: 2px 0 8px 13px;
}

.result-card h3, .popular-text h3{
  font-size: 14px;
}

.result-card p, .popular-text p {
  font-size: 15px;
  font-weight: 500;
}


/*ajout du logo et regles a droite de "Les plus populaires" */


.popular-results h2{
  position: relative;
  padding-left: 40px;  
} 

.popular-results h2 i{
  position: absolute;
  top:0;
  right: 0;
  float: right;
}

.fa-star{
  margin-right: -10px;
  margin-left: 2px;
  height: 8px;
}

.etoile1 {
  margin-left: 16px; 
}

.duotone {
  color: var(--main-bg-color);
}

.result-card p span{
  font-weight: bold;
}

.popular-results {
  width: 32%;
    
}
.popular-card-container{
  width: 100%;
  
  display: flex;  
  flex-wrap: wrap;
  align-content:space-between;
  justify-content: center;
}

.container-popular-text{
  width: 60%;
}

.popular-text {
  height: 70%;
  padding: 14px 22px 0 0;
}

.star {
  height: 20px;
}

.popular-card {
  margin-top: 33px;
}


/* section activités */


.activity {
  margin-top: 40px;
}

.activity h2{
  padding-top: 20px;
}

.activities {  
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.activity-card {
  border-radius: 20px;  
  height: 100%;  
  box-shadow: 0 5px 10px  rgba(0,0,0,0.2);
}
.activities a {
  width: 24%;
}


.activity-card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width : 100%;
  height: 87%; 
  object-fit: cover;
}

.activity-card h3 {
  padding-left: 19px;
  font-size: 15px
}


/*footer */


footer {
  background-color: var(--main-bg-color);
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-wrap:wrap;  
  justify-content: space-evenly;
  padding-top: 29px;
  box-sizing: border-box;
}


.footer h3 {
  font-size: 16px;  
}

.footer-article ul{
  list-style: none;
  padding-left: 0;
  font-size : 12px;
  line-height: 24px;
}


/* responsive breakpoint tablette */


@media screen and (max-width : 992px) {
  body{    
    margin: 0 auto;
    padding:0 2%;
  } 
  .container-results{
    width: 100%;
  }
  .filters{
    padding: 0 10px 0 10px;
    margin-left: 25px;
  }

  .search-result{ 
    padding: 0;
    flex-direction: column;
  }

  .container-results {
    padding: 0;
  }

  .popular-results{
    padding:  0;
    margin-left: 0;
    margin-top: 53px;
    width: 100%;
    height : 278px; 
  }

  .popular-results h2 {
    padding-left: 40px;
    margin-bottom: 0;
  }

  .popular-results h2 i{
    right: 20px;
  }

  .popular-card-results {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    padding-bottom: 48px;
  }
  .popular-card-results a {
    max-width: 33%;
  }

  .popular-card {
    max-width: 100%;
   }

  .popular-card img{
    height: 136px;
    width: 98px;
    padding:4px; 
    object-fit: cover;
  }

  .container-popular-text{ 
    width: 146px;
  }

  .popular-text h3, .popular-text p{
    line-height: 16px;
    margin: 2px 0 8px 6px;
  }

  .star {
    margin-left: -10px;    
  }

  .popular-text h3{
    font-size: 14px;
  }

  .popular-text p {
    font-size: 12px;
  }

  .popular-text {
    height: 65%;
    padding: 12px 24px 0 0;
  }
  
  

  .activity-card h3{
    margin-top: 5px; 
    font-size: 15px;
  }

  .activity img {
    height: 211px;
  }

  .activities {
    width: 100%;
  }

  footer {
    width: 100%;
    padding-top: 0;
    margin-top : 69px;
    box-sizing: border-box;    
  }

  .footer-article h3{
    font-size: 14px;
  }  
}


/* version mobile */


@media screen and (max-width : 767px) {
  body{
    min-width: 372px;
    margin:0 auto;
    padding:0;
  }

  /* header mobile */
  .recherche, .section-filters{
    padding: 0 20px 0 20px;
  }

  h1{
    padding-top: 20px;
  }

  .grille-header{
    display: block;
  }

  .header-one{
    padding-top: 20px;
    padding-bottom: 40px; 
    width: 100%;    
  }

  .header-one, .header-two, .header-three{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-two, .header-three{
    width: 50%;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 3px var(--main-bg-color);
  }

  .header-two:hover, .header-three:hover {    
    color: var(--deep-blue);
    border-bottom: solid 2px var(--deep-blue);
    border-top: none;
    cursor: pointer;
  }


/* filtre et champ de recherche mobil */
  

  .form {
    margin-top: 16px;
    height: 50px;
    width: 100%;    
  }

  .container-input form span {
    display: flex;
    align-items: center;
  }

  .search-input{
    width: 90%;
  }
  

  /* variation du boutton submit */


  .submit-button{
    display: none;
  }

  .submit-button-small{
    display: inline-block; 
    background: var(--deep-blue);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
  }
  .submit-button-small i {
    display: flex;
  }
  .fa-magnifying-glass{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  /* mise en place d'une grille pour les filtres mobile */

  .section-filters{
    display: block;
  }
  .div-filters {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14px;
    justify-items: center;
    grid-auto-rows: minmax(50px, auto);
    
  }

  .filters{
    margin: 0;
    text-align: start;
    min-width: 160px;
    font-size: 12px;
  } 

  .filter-grid-one {
    grid-column:1/2;
    grid-row: 1;
  }

  .filter-grid-two {
    grid-column:2/3;
    grid-row: 1;
  }

  .filter-grid-three {
    grid-column: 1/2;
    grid-row: 2;
  }

  .filter-grid-four {
    grid-column: 2/3;
    grid-row: 2;
  }


 /* inversion de l'ordre de presentation, popu / hebergements mobile */


  .search-result{ 
    padding: 0;
    margin: 0;
    flex-direction:column-reverse;
    width:100%;
  }

  .popular-results{
    margin-left: 0;
    margin-top: 53px;
    width:100%;
    height : 580px;
    border-radius: 0;
   
    
  }

  .popular-results h2 {
    padding-left: 20px;
    margin-bottom: 15px;
  }

  .popular-results h2 i{
    right: 10px;
  }

  .popular-card-results {
    width: 96%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;  
  }
  .popular-card-results a {
    max-width: 100%;
    width: 100%;
    min-width:335px;
  }

  .popular-card {
    display: flex;
    width: 100%;
    height: 144px;
    margin: 11px 0 0 0;

  }

  .popular-card img {
    width: 35%;
    height: 136px;
    border-radius: 20px;
  }
  
  .container-popular-text{ 
    width: 146px;
  }

  .popular-text h3, .popular-text p{
    line-height: 16px;
    margin: 2px 0 8px 6px;
  }

  .popular-text h3{
    font-size: 14px;
  }

  .popular-text p {
    font-size: 12px;
  }

  .popular-text {
    height: 65%;
    padding: 12px 24px 0 0;
  }

  .container-results {
    width: 100%;
    height: auto;
    background : none;
  }

  .results {
    width: 96%;
    margin: 0 2%;
    gap: 12px; 
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .results a {
    width: 100%;
    margin: 0;
  }

  .container-results h2{
    margin-top: 26px;
    padding-left:20px;
  }

  .result-card {
    margin: 0;
    width: 100%;
    height: 199px;
  }
  .result-card img{
    width: 100%;
    height: 116px;
  }
  .a-once{
    display: none;
  }


  /* activity mobile */

  .activity-card{
    width: 100%;
    height: 190px;
    margin-bottom: 24px;
  }
  .activities a{
    width: 100%;
    max-width: 100%;
  }
  .activity-card h3{
    margin-top: 20px; 
    font-size: 15px;
  }

  .activity img {
    width: 100%;
    height: 134px;
  }

  .activities {
    width: 96%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }

  .seizure{
    padding-left: 20px;
  }

  footer {
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 0 0 0 20px;
    margin-top : 56px;
    box-sizing: border-box;    
  }

  .footer-article h3{
    font-size: 14px;
  }

  .footer-article ul {
    font-size: 12px;
    line-height: 16px;    
  }  
}


/*règles pour le retour à la ligne forcé du h2 en version mobile apres avoir essayé
word-break et white space*/


@media screen and (max-width: 767px) {
  .seizure {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .seizure {
    display: block;
  }

  .seizure br {
    display: none;
  }
}